[user]
	name = Jay Burgess
	email = jay@rogueserenity.com
	signingkey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBI3qL+wzPHjBaaceytY5l9aV253ZPYxloTH5aC+sdiD769Rr+SUG29HH0yL6LZ5vjVXOU5NSS8/cfA6foA8Q+d0= ecdsa-sha2-nistp256
[core]
	excludesFile = ~/.config/git/ignore
	autocrlf = input
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	rebase = true
